.mat-mdc-dialog-content { max-height: unset; }

.step-container {
    // width: 100%;
    height: calc(90vh - 350px);
    margin: 10px;
    // overflow: auto;
}

.list-container {
    // width: 100%;
    height: calc(90vh - 510px);
    margin: 10px;
    overflow: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.centered-content-container {
    text-align: center;
}

.mat-mdc-form-field {
    padding-left: 10px;
}

.data-fields {
    padding: 10px;
    text-align: center;
}

.mat-mdc-raised-button {
    margin-left: 5px;
    margin-right: 5px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
