<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a mat-button style="font-family: monospace; font-size: 24px; font-weight: bold;" [routerLink]="'/homePage'" [disabled]="!auth.isAuthenticated()"> NELNET </a>
    &nbsp;&nbsp;
    <div *ngIf="auth.isAuthenticated()">
      <button mat-button style="font-size: 18px; padding-right: 10px; padding-left: 10px;" *ngFor="let item of navigation"
        [routerLink]="[item.link]" routerLinkActive="mat-accent" color="white" [disabled]=item.disabled>
        {{item.label}}
      </button>
    </div>

    <span class="spacer"></span>

    <button *ngIf="!auth.isAuthenticated()" mat-raised-button style="font-size: 18px" color="warn" (click)="auth.login()">Login</button>
    <button *ngIf="auth.isAuthenticated()" mat-raised-button style="font-size: 18px" color="warn" (click)="auth.logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container *ngIf="auth.isAuthenticated()" class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item *ngFor="let table of rows" href="javascript:void(0)" (click)="showTableDetail(table)">{{table.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: calc(100vh - 64px);">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

