.mat-mdc-form-field {
    padding-left: 5px;
    padding-right: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.tables-container {
    width: 100%;
    height: calc(100vh - 600px);
    overflow: auto;
}