<mat-dialog-content>
    <h2 style="text-align: center;">User Editor</h2>

    <form  #userForm="ngForm">
        <mat-form-field style="width: 440px;">
            <mat-label>User ID</mat-label>
            <input matInput name="userID" [(ngModel)]="user.userID" [disabled]="!newUser" required (ngModelChange)="userIDChanged()">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput name="firstName" [(ngModel)]="user.firstName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput name="lastName" [(ngModel)]="user.lastName" required>
        </mat-form-field>
    </form>
    
    <h3>Selected Roles</h3>
    <div *ngFor="let role of selectedRoles">
    <mat-checkbox [(ngModel)]="role.selected">
        {{role.name}} <i>({{role.description}})</i>
    </mat-checkbox>
    </div>

    <br>
    <p style="text-align: center;">&nbsp;{{errorMessage}}</p>

    <div class="button-container">
        <button mat-raised-button color="accent" (click)="save()" [disabled]="!canSave()">Save</button>
        <button mat-raised-button color="warn" style="margin-left: 10px;" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="warn" style="margin-left: 10px;" (click)="delete()" [disabled]="newUser">Delete User</button>
    </div>
</mat-dialog-content>