/* You can add global styles to this file, and also import other style files */
@import './sylvester-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// We have to unset these in order for the active item in the sidenave to be highlighted
.mdc-list-item__primary-text {
  color: unset !important;
}

a.mdc-list-item {
  // color: unset !important;
  color: lightgray !important;
}
///////////////////////////////////////////////////////////////////////////////////////////

// Overlay style for loading spinner
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr.table-row:hover {
  filter: brightness(90%);
}