@use '@angular/material' as mat;

@include mat.core();

$apollo-typography: mat.define-typography-config(
  $font-family: "Roboto",
  $button: mat.define-typography-level($font-size: 14px, $font-weight: 500, $letter-spacing: normal)
);

// Define the dark theme
$dark-theme-primary: mat.define-palette(mat.$blue-grey-palette, 900);
$dark-theme-accent: mat.define-palette(mat.$green-palette, 600);
$dark-theme-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-theme-primary,
   accent: $dark-theme-accent,
   warn: $dark-theme-warn
 ),
  // Only include `typography` and `density` in one theme.
  typography:  $apollo-typography,
  density: 0,
));

// Define the light theme
$light-theme-primary: mat.define-palette(mat.$blue-grey-palette, 900);
$light-theme-accent: mat.define-palette(mat.$green-palette, 600);
$light-theme-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
 color: (
    primary: $light-theme-primary,
    accent: $light-theme-accent,
    warn: $light-theme-warn
 ),
));
@include mat.all-component-typographies($apollo-typography);

// MatSidenavModule,
// MatToolbarModule,
// MatButtonModule,
// MatIconModule,
// *MatListModule,
// MatTableModule,
// MatProgressSpinnerModule,
// MatCardModule

@include mat.core-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.list-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.table-theme($light-theme);
@include mat.progress-spinner-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.menu-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.option-theme($light-theme);

// @include mat.checkbox-theme($light-theme);
// @include mat.icon-button-theme($light-theme);
// @include mat.fab-theme($light-theme);
// @include mat.dialog-theme($light-theme);
// @include mat.input-theme($light-theme);
// @include mat.snack-bar-theme($light-theme);
// @include mat.select-theme($light-theme);
// @include mat.option-theme($light-theme);
// @include mat.slide-toggle-theme($light-theme);
// @include mat.progress-bar-theme($light-theme);
// @include mat.radio-theme($light-theme);
// @include mat.expansion-theme($light-theme);
// @include mat.tooltip-theme($light-theme);
// @include mat.tabs-theme($light-theme);
// @include mat.slider-theme($light-theme);
// @include mat.datepicker-theme($light-theme);

// @media (prefers-color-scheme: light) {
.dark {
    @include mat.core-color($dark-theme);
    @include mat.sidenav-color($dark-theme);
    @include mat.list-color($dark-theme);
    @include mat.toolbar-color($dark-theme);
    @include mat.button-color($dark-theme);
    @include mat.icon-color($dark-theme);
    @include mat.table-color($dark-theme);
    @include mat.progress-spinner-color($dark-theme);
    @include mat.card-color($dark-theme);
    @include mat.menu-color($dark-theme);
    @include mat.form-field-color($dark-theme);
    @include mat.select-color($dark-theme);
    @include mat.option-color($dark-theme);

    // @include mat.checkbox-color($dark-theme);
    // @include mat.toolbar-color($dark-theme);
    // @include mat.fab-color($dark-theme);
    // @include mat.dialog-color($dark-theme);
    // @include mat.input-color($dark-theme);
    // @include mat.snack-bar-color($dark-theme);
    // @include mat.select-color($dark-theme);
    // @include mat.option-color($dark-theme);
    // @include mat.slide-toggle-color($dark-theme);
    // @include mat.progress-bar-color($dark-theme);
    // @include mat.radio-color($dark-theme);
    // @include mat.expansion-color($dark-theme);
    // @include mat.tooltip-color($dark-theme);
    // @include mat.tabs-color($dark-theme);
    // @include mat.slider-color($dark-theme);
    // @include mat.datepicker-color($dark-theme);
}